@import "tailwindcss";

@theme {
  --color-primary: #706D54;
  --color-bg: #DBDBDB;
};

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  background-color: var(--color-primary);
}